body,
html {
  overflow-x: hidden;
}
body {
  margin: 0px;
  font-family: 'Roboto-Mono';
  font-size: 14px;
  color: black;
  background-color: #272727;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 4px;
  font-weight: normal;
}

.navbar-brand-wrapper {
  background: white;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  width: 264px;
  height: 60px;
}
.navbar-brand-inner-wrapper {
  margin-left: 1.375rem;
  margin-right: 1.375rem;
}

.navbar-menu-wrapper {
  background: white;
  padding-left: 1.062rem;
  padding-right: 1.062rem;
  border-bottom: 1px solid #e3e3e3;
  width: calc(100% - 257px);
  height: 60px;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.page-body-wrapper {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 0px;
}
.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar {
  min-height: calc(100vh - 60px);
  background: white;
  padding: 0px;
  width: 257px;
  z-index: 11;
  border-right: 1px solid #e3e3e3;
}
.sidebar .nav {
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 60px;
}

.sidebar .nav .nav-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.75rem 2.5rem 0.75rem 1.25rem;
}

.sidebar .nav .nav-item.input{
  display: block;
}


.main-panel {
  width: calc(100% - 257px);
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  background: #f3f3f3;
  padding: 2.1rem 1.04rem;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.col {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #e7eaed;
  border-radius: 0;
  padding: 1.5rem 1.875rem;
}

.w-100 {
  width: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}
.input-wrapper {
  display: block;
}

label {
  display: inline-block;
  color: grey;
  margin-bottom: 2px;
  margin-top: 10px;
  padding-left: 2px;
}

input, select {
  display: block;
  border: 1px solid grey;
  color: white;
  background: #333333;
  padding: 4px 6px;
  border-radius: 3px;
}
select {
  width: 98%;
  padding: 4px 6px;
}

#iq-canvas {
  height: 100px;
  width: 500px;
  background: black;
}
